
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员-订单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />




    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate1.css" th:href="@{~/css/animate1.css}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon1.css" th:href="@{~/css/icomoon1.css}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap1.css" th:href="@{~/css/bootstrap1.css}">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../static/css/flexslider1.css" th:href="@{~/css/flexslider1.css}">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../static/css/style1.css" th:href="@{~/css/style1.css}">

    <!-- Modernizr JS -->
    <script src="../static/js/modernizr-2.6.2.min.js" th:src="@{~/js/modernizr-2.6.2.min.js}"></script>

    <script src="../static/js/respond.min.js" th:src="@{~/js/respond.min.js}"></script>


</head>
<body>


<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="header-inner">
                    <h1><a href="index.html">管理员<span>.</span></a></h1>
                    <nav role="navigation">
                        <ul>
                            <li><a href="rent.html">场馆管理</a></li>
                            <li><a href="rent.html">新闻管理</a></li>
                            <li><a href="rent.html">留言管理</a></li>
                            <li><a href="rent.html">用户管理</a></li>
                            <li class="active"><a href="properties.html">订单管理</a></li>

                            <li class="cta"><a href="contact.html">首页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="fh5co-page-title" >
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Booking</span> Management</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="fh5co-contact animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="../static/img/photo1.png" style="width: 10cm;height: 10cm; position: relative;margin-left: -1cm" th:src="@{~/img/photo1.png}">
                </div>

                <div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    <div class="row">
                        <div id="section">

                            <h2>订单中心>>订单管理</h2>
                            <p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default text-left no-boder">
                                        <div class="panel-heading">
                                            订单列表
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="dataTables-categoris">
                                                    <thead>
                                                    <tr>
                                                        <th>预约人姓名</th>
                                                        <th>预约场馆</th>
                                                        <th>订单日期</th>
                                                        <th>订单起始时间</th>
                                                        <th>订单终止时间</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody id="tbody-categoris">
                                                    <tr th:each="b: ${booking_list}">
                                                        <td th:text="${b.userName}"></td>
                                                        <td th:text="${b.venueName}"></td>
                                                        <td th:text="${b.date}"></td>
                                                        <td th:text="${b.startTime}"></td>
                                                        <td th:text="${b.length+b.startTime}"></td>
                                                        <td>
                                                            <form action="/booking/delete?(id=${b.id})}">
                                                                <a th:href="@{/booking/delete(id=${b.id})}"><i class="fa fa-minus-square" style="color: red"></i> 删除该订单
                                                                </a>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="fh5co-footer" role="contentinfo">


        <div class="col-md-12 fh5co-copyright text-center">
            <p class="icon-heart" style="color: mintcream">Made By FB&XYW </p>
        </div>


    </footer>
</div>


<!-- jQuery -->
<script src="../static/js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js" th:src="@{~/js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js" th:src="@{~/js/jquery.waypoints.min.js}"></script>
<!-- Flexslider -->
<script src="../static/js/jquery.flexslider-min.js" th:src="@{~/js/jquery.flexslider-min.js}"></script>

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="../static/js/google_map.js" th:src="@{~/js/google_map.js}"></script>

<!-- MAIN JS -->
<script src="../static/js/main1.js" th:src="@{~/js/main1.js}"></script>

</body>

</html>

